.container-contact{
    position: relative;
}

.wsp{
    position: absolute;
    z-index: 1;
    bottom: 15px;
    right: 15px;
    position: fixed;
}


.fa-whatsapp{
    color: green !important;
    font-size: 60px;
    text-shadow: rgb(0, 0, 0) 1px 0 5px;
    cursor: pointer;
    transition: 1s;
    animation-duration: 3s;
    animation-name: brinco;
}

.fa-whatsapp:hover{
    font-size: 55px;
}

@keyframes brinco{
    from {
        margin-bottom: 100%;
        width: 300%
      }
    
      to {
        margin-bottom: 0%;
        width: 100%;
      }
}

/* p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  } */


.mail{
    background: var(--bg-degrad);
    color: white;
    /* padding-left: 16.1%; */
    height: 80vh;
    position: relative;
}

.wave{
  position: absolute;
  width: 100%;
  bottom: 0;
}

.mail h1{
    text-overflow: clip;
    width: 100%;
    color: var(--color-golden-2) ;
}

.formulario{
    width: 80%;
    margin: auto
}

.formulario h3{
  color: var(--color-golden);
}

.btn{
  background: var(--color-golden);
  color: white;
}