<div class="container-contact">
    <div class="mail py-5 d-flex align-items-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ">
                    <h1 data-aos="fade-right">{{mail}}</h1>
                    <p data-aos="zoom-in-up">
                        Escríbeme por correo si te interesa mi trabajo, deseas realizar un proyecto o quieres contactar conmigo. <br>
                        También puedes seguirme en mis redes sociales que se encuentran en el pie de página o puedes escribirme al WhatsApp
                    </p>
                </div>      
            </div>
        </div>
        <!-- <div class="wave" style="height: 150px; overflow: hidden;" >
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M-69.13,165.30 C188.76,-39.94 284.14,269.91 508.17,92.28 L500.00,150.00 L-17.21,201.81 Z" style="stroke: none; fill: rgb(255, 255, 255);"></path>
            </svg>
        </div> -->
    </div>
    <!-- <div class="container my-5">
        <div class="formulario">
            <h3 class="text-center" >Formulario de contacto</h3>
            <form [formGroup]="formularioContacto" (ngSubmit)="send()"class="mt-5" action="https://formsubmit.co/c.g_ciro@hotmail.com" method="POST">
                <div class="mb-3">
                    
                    <input type="text" class="form-control" name="fullname" placeholder="Nombre Completo" formControlName="fullname"  required>
                </div>
                <div class="mb-3">
                   
                    <input type="text" class="form-control" name="affair" placeholder="Asunto" formControlName="affair" required>
                </div>
                <div class="mb-3">
                    
                    <input type="email" class="form-control" name="mail" placeholder="name@example.com" formControlName="mail" required>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Mensaje</label>
                    <textarea class="form-control" name="message" rows="3" formControlName="message" required></textarea>
                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" class="btn" [disabled]="formularioContacto.invalid">Enviar</button>
                </div>
            </form>
        </div>
    </div> -->
    
    <div class="wsp">
        <a href="https://api.whatsapp.com/send/?phone=929739991&text=Hola+Ciro%2C+%C2%BFC%C3%B3mo+estas%3F%2C+soy+........+y+quisiera+contactarme+contigo&app_absent=0" target="_blank">
            <i class="fa fa-whatsapp" aria-hidden="true"></i>
            <!-- <img src="../../../../assets/img/icons8.gif" alt=""> -->
        </a>
    </div>
</div>
