
.navbar-toggler-icon{
    color: red !important;
    z-index: 10000px;
}
.nav-link{
    color: #ffff;
}
.nav-link:hover{
    color: rgb(194, 183, 28);
}

.abajo{
    background: black;
    background: black;
    padding: 0.2rem;
}

.navbar{
    transition: 1s;
}

.active-link{
    color: var(--color-golden);
}