.cover-image-wrapper{
    height: 90vh;
    width: 100%;
    color: #ffff;
    position: relative;

    background: rgba(0, 0, 0, 0.609);  
    background: -webkit-linear-gradient(to right,rgba(0, 0, 0, 0.609), rgba(74, 77, 78, 0.609)), url('../../../../assets/img/portada.jpg'); 
    background: linear-gradient(to right, rgba(0, 0, 0, 0.609), rgba(74, 77, 78, 0.609)), url('../../../../assets/img/portada.jpg'); 

    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    transform: translate3d(0px, 0px, 0px);
    background-position: 60% 50%;  

    display: flex;
    justify-content: center;
    align-items: center;
}

.presentacion h1{
    font-size: 4rem;
}

.presentacion h4{
    font-size: 2rem;
    color: rgb(110, 103, 1);
}

.wave{
    position: absolute;
    width: 100%;
    bottom: 0;
}

.wave-t{
    position: absolute;
    width: 100%;
    top: 0;
}


.p-content{
    font-size: 1.3rem;
}

.skill{
    background: rgb(0, 0, 0);  
    background: -webkit-linear-gradient(to right,rgb(0, 0, 0), rgb(74, 77, 78)); 
    background: linear-gradient(to right, rgb(0, 0, 0), rgb(74, 77, 78)); 

    /* padding-top: 5rem;
    padding-bottom: 6rem;

    margin-top: 6rem;

    position: relative; */
    clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98%);
}

.card{
    background: none;
    border: none;
    width: 100%;
}

.linkRedirect{
    color: rgb(194, 183, 28);
}


.container-fluid{
    padding: 0;
}

.row{
    padding: 0;
}



.progress{
    background-color: rgba(122, 122, 122, 0.342);
}

img{
    height: 100%;
}

@media (max-width: 767px) {
    img{
        height: 100%;
    }

    .img-conocimiento{
        height: 150px;
        display: flex;
        justify-content: center;
    }
}