<!-- <div class="container-projects d-flex align-items-center justify-content-center">
    <div>
        <img src="../../../../assets/img/construccion.png" alt="">
        <h5>Página en construcción</h5>
    </div>
</div> -->

<div class="container-project">
    <div class="banner">
        <h1 data-aos="zoom-in-down">Proyectos</h1>
        <div class="wave" style="height: 150px; overflow: hidden;" >
            <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
                <path d="M-69.13,165.30 C188.76,-39.94 284.14,269.91 508.17,92.28 L500.00,150.00 L-17.21,201.81 Z" class="path"></path>
            </svg>
        </div>
    </div>
    <div class="container c my-5">
        <app-card *ngFor="let c of ciro.trabajos | filtro:numberProject ; let i = index " [dataProject]="c" [index]="i" ></app-card> 
        <div class="d-flex justify-content-center mt-5">
            <i class="fa fa-chevron-circle-down view-filter" aria-hidden="true" [ngClass]="{'rotate-arow':mas==false}" (click)="mas? seeMore(ciro.trabajos):seeLess()"></i>
        </div>
    </div>
</div>