/* You can add global styles to this file, and also import other style files */
:root{

    /* colors*/
    --color-golden: rgb(194, 183, 28);

    /* background*/
    --bg-degrad-trans: linear-gradient(to right, rgba(0, 0, 0, 0.609), rgba(74, 77, 78, 0.609));
    --webkit-bg-degrad-trans:-webkit-linear-gradient(to right,rgba(0, 0, 0, 0.609), rgba(74, 77, 78, 0.609));
    --bg-degrad: linear-gradient(to right, rgb(0, 0, 0), rgb(74, 77, 78));
    --webkit-bg-degrad: -webkit-linear-gradient(to right, rgb(0, 0, 0), rgb(74, 77, 78));
    --bg-dark-custom: rgb(65, 63, 63);
}

*{
    font-family: 'DM Serif Display', serif;;
}

body::-webkit-scrollbar{
    width: 7px;
    background: var(--bg-dark-custom);
}

body::-webkit-scrollbar-thumb{
    background: var(--color-golden);
    border-radius: 10px;
}

p{
    line-height: 2.5;
}

.subtitle, .subtitle-2 {
    font-size: 2.5rem;
    color: var(--color-golden);
}

.subtitle-2{
    font-size: 1.5rem;
}